---
export interface Props {
  title: string;
  company: string;
  start: string;
  end: string;
  description: string;
  isFirst: boolean;
}

const { title, company, start, end, description, isFirst } =
  Astro.props as Props;
---

<div class="grid content-center justify-center w-full">
  {
    !isFirst && (
      <div class="grid content-center justify-center">
        <i class="las la-long-arrow-alt-up text-6xl text-white/60 backdrop-blur shadow-2xl" />
      </div>
    )
  }
  <article
    class="mx-6 rounded-lg border border-white/10 bg-indigo-950/60 backdrop-blur px-6 py-5 text-white shadow-2xl xl:mx-0 xl:px-20 w-[calc(100%-3rem)] sm:w-full max-w-full overflow-hidden break-words md:max-w-[48rem]"
  >
    <p class="pb-2 text-start text-sm break-words">[{start} - {end}]</p>
    <h1 class="border-b-2 text-2xl break-words">{title}</h1>
    <h2 class="pb-3 text-lg break-words">{company}</h2>
    <p class="break-words">{description}</p>
  </article>
</div>
